<ion-card>
  <ion-card-header class="headerCard">
    <ion-thumbnail class="imageCard">
      <ion-img [src]="comic.thumbnail.path + '/portrait_incredible.' + comic.thumbnail.extension" [alt]="comic.title">
      </ion-img>
    </ion-thumbnail>
    <div class="containerInformation">
      <ion-card-title class="titleCard">{{comic.title}}</ion-card-title>
      <ion-card-subtitle class="subtitleCard">{{comic.dates[0].date | date :'mediumDate'}}</ion-card-subtitle>
    </div>
  </ion-card-header>
  <ion-card-content class="contentCard">
    <div class="containerButtons">
      <ion-button (click)="upQualification('like')" color="success">
        <div class="descriptionButton">
          <ion-icon name="thumbs-up-sharp"></ion-icon>
          <ion-label class="count countSuccess">{{comic.like | number}}</ion-label>
        </div>
      </ion-button>
      <ion-button (click)="upQualification('dislike')" color="danger">
        <div class="descriptionButton">
          <ion-icon name="thumbs-down-sharp"></ion-icon>
          <ion-label class="count countDanger">{{comic.dislike | number}}</ion-label>
        </div>
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>