/**
 * @since: 24/08/2020
 * @author [JuanJose21]
 */

.imageLogo {
	margin: auto;
	max-width: 7rem;
}
.skeletonCard {
	.headerSkeleton {
		.imageSkeleton {
			height: 10rem;
			width: 100%;
		}
	}
	.contentSkeleton {
		display: flex;
		flex-direction: row;
		.textSkeleton {
			margin: 0 .2rem;
		}
	}
}
