.image-logo {
  margin: auto;
  max-width: 110px;
}
.skeleton-card {
  .header-skeleton {
    .image-skeleton {
      height: 200px;
      width: 100%;
    }
  }
  .content-skeleton {
    display: flex;
    flex-direction: row;
    .text-skeleton {
      margin: 0 2px;
    }
  }
}
