<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-img src="../../assets/images/marvel-logo.svg" alt="marvel" class="imageLogo">
      </ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="!isSkeleton">
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let comic of listComics; let i = index">
        <app-card-comic [comic]="comic" [index]="i" (eventButtonClick)="setItemsStorage($event)"></app-card-comic>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isSkeleton">
      <ion-col size="6" size-md="4" size-lg="3" *ngFor="let data of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card class="skeletonCard">
          <ion-card-header class="headerSkeleton">
            <ion-skeleton-text animated class="imageSkeleton"></ion-skeleton-text>
          </ion-card-header>
          <ion-card-content class="contentSkeleton">
            <ion-skeleton-text animated class="textSkeleton"></ion-skeleton-text>
            <ion-skeleton-text animated class="textSkeleton"></ion-skeleton-text>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>